* {
  box-sizing: border-box;
  margin: 0;
  background: black;
}


body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h3 {
  border: solid white;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10PX;
  margin: 10px auto;
}

#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(355px, 1fr);
  grid-gap: 10px;
  padding: 10px;
  margin: 15px auto;
}

@media (max-width: 768px) {
  #galeria {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-auto-rows: minmax(177px, auto);
  }
}
@media (min-width: 1024px) {
  #galeria {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      grid-auto-rows: minmax(391px, auto);
  }
}

#galeria img {
  width: 100%;
  height: auto;
  border: solid 0.5px blue;
  border-radius: 5px;
  cursor: pointer;
}

#img-activa {
  border-radius: 5px;
  width: 340px;
  height: 604;
}

@media (max-width: 768px) {
  #img-activa {
    width: 230px;
    height: 408px;
  }
}
@media (min-width: 1024px) {
  #img-activa {
    width: 360px;
    height: 400px;
  }
}

#contenedor-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.55);
  display: none;
  justify-content: center;
  align-items: center;
}


#contenedor-interno {
  border: 2px white solid;
  padding: 2px;
  background: transparent;
  max-width: 350px;
  min-height: 604px;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  #contenedor-interno {
    max-width: 240px;
    min-height: 408px;
  }
}
@media (min-width: 1024px) {
  #contenedor-interno {
    max-width: 370px;
    min-height: 400px;
  }
}

/*Botones*/

button {
  cursor: pointer;
  background: transparent;
  color: white;
}

#btn-cierra {
  position: absolute;
  top: 105%;
  left: 46%;
  font-size: 1rem;
}

#btn-retrocede {
  position: absolute;
  top: 105%;
  left: 0;
  font-size: 1rem;
}

#btn-adelanta {
  position: absolute;
  top: 105%;
  right: 0;
  font-size: 1rem;
}
